<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>momentree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06D718D91BB0544800657ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D718ED1BB0544800657ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06D718F81BB0544800657ADF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
